footer.footer
    p.footer__copyright © 2017 Marko Peric All rights reserved
    .footer__social
      a.footer__social-link(href="https://www.instagram.com/marck0ne/", target="_blank", title="Instagram")
        i.fa.fa-3x.fa-instagram
      a.footer__social-link(href="https://dribbble.com/marckoperic", target="_blank", title="Dribbble")
        i.fa.fa-3x.fa-dribbble
      a.footer__social-link(href="https://www.linkedin.com/in/marckoperic/", target="_blank", title="LinkedIn")
        i.fa.fa-3x.fa-linkedin