.about
  .about-container
    h2.about__title Something short
      br
      | about me
    p.about__description I am a multidisciplinary designer, focused on WEB, UX UI Design and Branding, based in Ticino, Switzerland. I am a designer with a lot of passion for digital art. 
    p.about__description I practice user centered design principles basing design decisions on user needs and business goals.
    p.about__description My tools are pen &amp; paper, Sketch, InVision, Adobe CC and other nifty software when it comes to clickable prototypes. 
    p.about__description 
      a.about__link(href="https://drive.google.com/file/d/0B5eOV9TCiix0Q3BDS3NWWE5uZTA/view", target="_blank") Download the vitae
      |  or network via 
      a.about__link(href="https://www.linkedin.com/in/marckoperic/", target="_blank") LinkedIn
      |  and 
      a.about__link(href="https://www.xing.com/profile/Marko_Peric12?sc_o=mxb_p", target="_blank") XING 
      |  to learn more about my career and the honors I'd earned for my work.
  .about__profile-image
    img(src="../../assets/img/profile.png", alt="Profile image")