.hero-wrapper
  .hero
    h1.hero__headline Hello, I’m 
      span.hero__headline--primary.hero__headline--bold Marko
      br
      span.hero__headline--bold.hero__headline--italic UX UI Designer 
      br
      | Based in Switzerland