.contact
    h2.contact__title Get in touch
      br
      |  with me
    h3.contact__subtitle Let’s make some magic together.

    form.contact__form(action="http://formspree.io/marcko.peric@gmail.com", method="POST")
      input.contact__name(type="text" placeholder="Name", name="Name")
      input.contact__email(type="email" placeholder="E-mail", name="Email")
      input.contact__subject(type="text" placeholder="Subject", name="Subject")
      textarea.contact__message(placeholder="Message...", name="Message")
      button.contact__submit.effect-shutter Send message