.triangle([ngClass]="{'triangle--border': randomBool, 'triangle--full': !randomBool}", [ngStyle]="{'top': x, 'left': y, 'width': size, 'height': size, 'opacity': opacity, 'transform': rotateZ, 'filter': filter, 'animation-duration': animationDuration}")
