.portfolio
    h2.portfolio__title Portfolio
    h4.portfolio__subtitle Selected work that has been created with the help of many.

    .portfolio__item-container
      .portfolio__item(*ngFor="let portfolio of portfolios")
        a([href]="portfolio.url", target="_blank")
          img([src]="portfolio.img", [alt]="portfolio.title")
