.portfolio
    h2.portfolio__title Portfolio
    h4.portfolio__subtitle Selected work that has been created with the help of many.

    .portfolio__item-container
      .portfolio__item
        a(href="https://www.behance.net/gallery/55293441/D-S-CARS-Responsive-Website", target="_blank")
          img(src="./img/portfolio/ds-cars.png", alt="D&S Cars")
      .portfolio__item
        a(href="https://www.behance.net/gallery/54346243/DIB-Hotel-Concept", target="_blank")
          img(src="./img/portfolio/dib-hotel.png", alt="DIB Hotel")
      .portfolio__item
        a(href="https://www.behance.net/gallery/53588695/DailyUI-Challenge", target="_blank")
          img(src="./img/portfolio/daily-ui.png", alt="Daily UI")
      .portfolio__item
        a(href="https://www.behance.net/gallery/51840439/TDI-Radio-App-Redesign", target="_blank")
          img(src="./img/portfolio/tdi-radio-app.png", alt="TDI Radio App")
      .portfolio__item
        a(href="#", target="_blank")
          img(src="./img/portfolio/art-of-cars.png", alt="Art Of Cars")
      .portfolio__item
        a(href="https://www.behance.net/gallery/49950451/Marckone-Branding", target="_blank")
          img(src="./img/portfolio/marck1-brand.png", alt="Marck1 Brand")
      .portfolio__item
        a(href="https://www.behance.net/gallery/48725323/Lookback-Records-Branding", target="_blank")
          img(src="./img/portfolio/lookback-record.png", alt="Lookback Record")
      .portfolio__item
        a(href="https://www.behance.net/gallery/48710691/Lookback-Records-App-Concept", target="_blank")
          img(src="./img/portfolio/lookback-record-app.png", alt="Lookback Record App")
      .portfolio__item
        a(href="#", target="_blank")
          img(src="./img/portfolio/ricardo-ch.png", alt="Ricardo.ch")
