.services
    h2.services__title Services
    h4.services__subtitle With passion and love. For you.

    .service
      h3.service__title Interface design
      h5.service__description Website and mobile application
    .service
      h3.service__title User experience
      h5.service__description Where it all comes together
    .service
      h3.service__title Branding
      h5.service__description Corporate identities and style guides
    .service
      h3.service__title Development
      h5.service__description Front-end development